:root {
    --primary-color:blue;
    --primary-color-dark:blue;
    --primary-color-light:white;
    --secondary-color:orange;
    --text-dark:black;
    --text-light:grey;
    --white:white;
    --max-width:1200px;


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;

}

.section__header {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.btn {
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}


body {
    font-family: 'poppins', sans-serif;
}

header {
    background-image: linear-gradient(
        to right,
        rgba(18, 93, 172, 0.9),
        rgba(18, 93, 172, 0.7)
    ),
    url("medical-doctor-background-illustration-ai-generative-free-photo.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.nav__logo span {
    color: var(--secondary-color);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link a {
    padding: 0.5rem;
    color: var(--primary-color-light);

}

.link a:hover {
    color: var(--white);
}

.container {
      max-width: 1000px;
      margin: 0 auto;
      background: #fff;
      padding: 40px;
      box-shadow: 0 0 20px rgba(0,0,0,0.05);
      border-radius: 10px;
    }

    h1, h2, h3 {
      color: #0077cc;
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    ul {
      padding-left: 20px;
    }

    strong {
      color: #000;
    }

    blockquote {
      background: #eef6ff;
      padding: 15px 20px;
      border-left: 5px solid #0077cc;
      margin: 20px 0;
      font-style: italic;
      color: #444;
    }

    .cta {
      text-align: center;
      margin-top: 40px;
    }

    .cta a {
      background-color: #0077cc;
      color: white;
      padding: 12px 25px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .cta a:hover {
      background-color: #005fa3;
    }

    .footer {
      text-align: center;
      margin-top: 60px;
      font-weight: bold;
      font-size: 18px;
      color: #0077cc;
    }
 